name: Build Glue to S3
run-name: Build and test application

#on:
#  push:
#    branches:
#      - main
#      - dev

on:
  workflow_dispatch:

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Zip File
        run: zip -r lib.zip lib -x "*.git*"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload to S3 Bucket
        run: aws s3 sync . s3://${{ secrets.GLUE_ARTIFACT_S3_BUCKET_NAME }}/ssp-glue-job/current --exclude "lib/*" --exclude "data/*" --exclude ".gitignore" --exclude ".git/*" --exclude ".github/*"
