name: Deploy Glue to S3
run-name: Deploy application

on:
  workflow_dispatch:


jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}


      - name: Deploy Glue from S3
        run: |
          aws s3 cp s3://${{ secrets.GLUE_ARTIFACT_S3_BUCKET_NAME }}/ssp-glue-job/2025/12/15/ssp-glue-job.zip s3://${{ secrets.GLUE_ARTIFACT_S3_BUCKET_NAME }}/ssp-glue-job/current/ssp-glue-job.zip